body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #080808;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.interno {
    background: #fff5f7;
    border-radius: 20px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
}

.conteudo {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.conteudo h1 {
    font-size: 28px;
    text-align: center;
}

.botoes {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btn-sim {
    background-color: #ff2d55;
    color: white;
}

.btn-nao {
    position: relative;
    transition: transform 0.05s linear;
    background-color: #555;
    color: white;
}

.painel {
    position: relative;
    z-index: 2;

    width: 90%;
    max-width: 500px;
    min-height: 420px;

    background: white;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container-coracoes {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.coracao { 
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    border-radius: 0 0 0 10px;
    animation: fall linear infinite;
    background-color: #ff002f;
}           
.coracao:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ff002f;
    left: 0;
    top: -50%;
}
.coracao:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ff002f;
    top: 0%;
    right: -50%;
}
@keyframes fall {
    0% {
        transform: translateY(-120px) rotate(-45deg);
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) rotate(45deg);
        opacity: 0;
    }
}

.painel {
    animation: aparecer 1s ease-out;
}

@keyframes aparecer {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@media (max-width: 600px) {
    .conteudo h1 {
        font-size: 22px;
    }

    button {
        width: 100%;
    }

    .botoes {
        flex-direction: column;
    }
}

